.donation {
  padding: 4rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

