.impact {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  background: transparent;
}

.card {
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  max-width: 350px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 15rem;
  margin-bottom: 1rem;
  color: #ff6b00;
}

@media (max-width: 768px) {
  .impact {
    flex-direction: column;
  }
}
