.header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  position: flex;
  transform: translateX(-50%);

  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.logoText {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: "Orbitron";
  animation: blink 1s infinite;
  text-decoration: none;

  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  display: none; /* Початково приховуємо меню */
}

.nav.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgba(14, 6, 20, 0.95);
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.menuToggle {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  padding-top: 7px;
  padding-left: 35px;
}

.menuToggle svg {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 2768px) {
  .menuToggle {
    display: none;
  }
  .nav {
    display: flex;
    gap: 1rem;
  }
}
