
                /* MAIN Interface */


            /* BODY */
      .cookie-banner.visible{
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1000; /* Щоб банер був поверх усього вмісту */
        background-color: rgba(0, 0, 0, 0.7); /* Легкий темний фон */
    }
    .cookie-banner.hidden {
      position: fixed;
      display: none;

      background-color: rgba(0, 0, 0, 0); /* Легкий темний фон */
  }
          
.cookie-card {
    width: 400px;
    height: 280px;
  margin-top: 200px;
  margin-left: 42%;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

    overflow: hidden;
    padding: 10px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;

  gap: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
      .cookie-card.hidden {
        display: none;
        transition: opacity 0.4s ease;
        pointer-events: none;
        overflow:scroll;

        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0);
    }

    .cookie-card.visible {
        opacity: 1;
        transition: opacity 0.4s ease;
        pointer-events: auto;
    }

  
  #cookieSvg {
    width: 50px;
  }
  
  #cookieSvg g path {
    fill: rgb(97, 81, 81);
  }
  
  .cookieHeading {
    padding: 5px;
    font-size: 1.3em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .cookieDescription {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;

    font-size: 0.9em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }
  
  .cookieDescription a {
    font-size: 13px;
    --tw-text-opacity: 1;
    color: rgb(55, 165, 255);
  }
  
  .cookieDescription a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
  
  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  
  .acceptButton {
    width: 110px;
    height: 40px;
    font-size: 1.1rem;

    background-color: #00D9FF;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;

    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #110c24;
    text-shadow: 0 4px 6px -1px #000000, 0 2px 4px -1px #000000;
    transition: all .6s ease;
  }
  
  .declineButton {
    width: 110px;
    height: 40px;
    font-size: 1.1rem;

    background-color: #dadada;
    transition-duration: .2s;
    color: rgb(46, 46, 46);

    border: none;
    cursor: not-allowed;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
    transition: all .6s ease;
  }
  
  .declineButton:hover {
    background-color: #ebebeb;
    box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
    transition-duration: .2s;
  }
  
  .acceptButton:hover {
    background-color: #9173ff;
    box-shadow: 0 10px 15px -3px #977ef3, 0 4px 6px -2px #977ef3;
    transition-duration: .2s;
  }
        /* BODY */


    /* MAIN Interface */