body {
    font-family: "Exo 2", "Manrope", "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d1010;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    min-height: 70vh;
    padding: 2rem;
  }
  
  
