.pricing {
  text-align: center;
  padding: 2rem 0;
  
  min-width: 70%;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.description {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 3rem;
  color: var(--secondary);
}

.pricingPlans {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.plan {
  background: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  padding: 2rem;
  width: 300px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.planName {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--accent);
}

.planPrice {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.planFeatures {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.planFeatures li {
  margin-bottom: 0.5rem;
  color: var(--secondary);
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .plan {
    width: 100%;
    max-width: 300px;
  }
}

